.sign-words {
    color: rgb(241,235,156);
    border: rgb(241,235,156) 6px solid;
    background-color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: .5rem;
    letter-spacing: .5rem;
}