.sign-words {
    color: rgb(244, 237, 150);
    border: rgb(244, 237, 150) 6px solid;
    background-color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: .5rem;
    letter-spacing: .5rem;
}