.sign-words {
    color: white;
    border: white 6px solid;
    background-color: rgbrgb(241,235,156);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: .5rem;
    letter-spacing: .5rem;
}