html, body, #root, .App {
  height: 100%;
}
.App {
  background-color: rgb(255, 249, 169);
}

.App button {
  cursor: pointer;
}

.fight{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-fight {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 2rem;
}

.right-fight {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 2rem;

}

.croc-buttons {
  display: flex;
  flex-direction: column;
}

.gorilla-buttons {
  display: flex;
  flex-direction: column;
}


.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18rem;
}

.sign p {
  color: rgb(252, 219, 0);
  font-family: 'Mr Dafoe', cursive;
  letter-spacing: .25rem;
  font-size: 3.5rem;

}

.sign button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  margin-bottom: .5rem;
  color:royalblue;
  border: royalblue 1px solid;
  background-color: saddlebrown ;

}

.parade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.parade p {
  color: rgb(255, 146, 166);
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .7rem;
  padding: 0;
  margin: 0;
}



