html, body, #root, .App {
  height: 100%;
}

.fight{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  margin: 2rem;
}

.left-fight, .right-fight {
  display: flex;
  flex-direction: row;
}

.croc-buttons {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2rem;
}

.gorilla-buttons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2rem;
}

.croc {
  margin-right: 4rem;
}

.gorilla {
  margin-left: 4rem;
}

.sign {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.parade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;

}



