html, body, #root, .App {
  height: 100%;
}

.fight{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

.parade {
  display: flex;
  flex-direction: column;

}

.animal-list {
  display: flex;
  flex-direction: row;
  font-size: 5rem;
}
